// app global css
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}

p, h3, .q-select {
    word-break: break-all;
}